        /* General Styles */
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            flex-direction: column;
        }

        header {
            text-align: center;
            background-color: #eac2b0;
            padding: 20px;
            width: 100%;
        }

        header h1 {
            margin: 0;
            color: #4C3B3F;
            font-size: 2.2rem;
        }

        main {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 500px;
            margin: 20px auto;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 10px 0 5px;
            font-size: 1rem;
            color: #333;
        }

        input[type="text"],
        input[type="password"] {
            padding: 12px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
        }

        button[type="submit"],
        button[type="button"] {
            background-color: #4CAF50;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            margin-top: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button[type="button"] {
            background-color: #ccc;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }

        button[type="button"]:hover {
            background-color: #b3b3b3;
        }

        /* Responsive Design */
        @media (max-width: 768px) {
            header h1 {
                font-size: 1.8rem;
            }

            main {
                width: 90%;
                padding: 15px;
            }

            label {
                font-size: 0.9rem;
            }

            input,
            select {
                font-size: 0.9rem;
                padding: 10px;
            }

            button {
                font-size: 0.9rem;
            }
        }