<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['add_shop_title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <header>
        <h1>{{ translations['add_shop_header'] }}</h1>
    </header>
    <main>
        <form method="POST" action="/add_shop" enctype="multipart/form-data">
            <label for="shop_name">{{ translations['shop_name_label'] }}:</label>
            <input type="text" id="shop_name" name="shop_name" required>

            <label for="address">{{ translations['address_label'] }}:</label>
            <input type="text" id="address" name="address" required>

            <label for="phone">{{ translations['phone_label'] }}:</label>
            <input type="text" id="phone" name="phone" required>

            <label for="image">{{ translations['upload_image'] }}:</label>
            <input type="file" id="image" name="image" accept="image/*">

            <button type="submit">{{ translations['add_shop_button'] }}</button>
            <button type="button" onclick="goBack()">{{ translations['back_button'] }}</button>
        </form>
    </main>
    <footer>
        <div class="language-switcher">
            <a href="{{ url_for('change_language', lang_code='en') }}">English</a> |
            <a href="{{ url_for('change_language', lang_code='he') }}">עברית</a>
        </div>
        <p>&copy; 2024 {{ translations['footer_text'] }}</p>
    </footer>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
