<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['admin_panel_title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header>
        <h1>{{ translations['admin_panel_header'] }}</h1>
    </header>
    <main>
        <h2>{{ translations['pending_shops'] }}</h2>
        <ul>
            {% for shop in unapproved_shops %}
            <li>
                <h3>{{ shop[1] }}</h3> <!-- Shop name -->
                <p>{{ shop[2] }}</p> <!-- Shop address -->
                <p>{{ shop[3] }}</p> <!-- Shop phone -->
                <form method="POST" action="/approve_shop/{{ shop[0] }}">
                    <button type="submit">{{ translations['approve_button'] }}</button>
                </form>

            </li>
            {% else %}
            <li>{{ translations['no_pending_shops'] }}</li>
            {% endfor %}

        </ul>
        <button type="button" onclick="goBack()">{{ translations['back_button'] }}</button>
    </main>
    <footer>
        <div class="language-switcher">
            <a href="{{ url_for('change_language', lang_code='en') }}">English</a> |
            <a href="{{ url_for('change_language', lang_code='he') }}">עברית</a>
        </div>
        <p>&copy; 2024 {{ translations['footer_text'] }}</p>
    </footer>
 <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
