<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['appointment_history_title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <style>
        .customer-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px 0;
            transition: background-color 0.3s ease;
            width: 100%;
            text-align: left;
        }

        .customer-button:hover {
            background-color: #45a049;
        }

        .customer-history {
            display: none;
            margin-top: 10px;
        }

        .active {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <h1>{{ translations['appointment_history'] }}</h1>
    </header>
    <main>
        <button type="button" onclick="goBack()">{{ translations['back_button'] }}</button>

        <h2>{{ translations['appointments_history'] }}</h2>

        {% if customers %}
            {% for customer, appointments in customers.items() %}
                <button class="customer-button" onclick="toggleHistory('{{ customer }}')">{{ customer }}</button>
                <div id="{{ customer }}" class="customer-history">
                    <ul>
                        {% for appointment in appointments %}
                        <li>
                            {{ translations['appointment_date'] }}: {{ appointment[0] }}<br>
                            {{ translations['status'] }}: {{ appointment[1] }}<br>
                            {{ translations['service'] }}: {{ appointment[3] }}<br>
                            {{ translations['price'] }}: &#8362;{{ '%.2f' % appointment[4] }}
                        </li>
                        {% endfor %}
                    </ul>
                    <h4>{{ translations['total_for'] }} {{ customer }}: &#8362;{{ '%.2f' % appointments | sum(attribute=4) }}</h4>
                    <br><br><br><br>
                </div>
            {% endfor %}
        {% else %}
            <ul>
                {% if history %}
                    {% for appointment in history %}
                    <li>
                        {{ translations['appointment_date'] }}: {{ appointment[0] }}<br>
                        {{ translations['status'] }}: {{ appointment[1] }}<br>
                        {{ translations['shop'] }}: {{ appointment[2] }}<br>
                        {{ translations['service'] }}: {{ appointment[3] }}<br>
                        {{ translations['price'] }}: &#8362;{{ '%.2f' % appointment[4] }}
                        <br><br>
                    </li>
                    {% endfor %}
                {% else %}
                    <li>{{ translations['no_past_appointments'] }}</li>
                {% endif %}
            </ul>
            <h4>{{ translations['total_for'] }} {{ customer }}: &#8362;{{ '%.2f' % history | sum(attribute=4) }}</h4>
            <br><br>
        {% endif %}
    </main>
    <footer>
         <div class="language-switcher">
            <a href="{{ url_for('change_language', lang_code='en') }}">English</a> |
            <a href="{{ url_for('change_language', lang_code='he') }}">עברית</a>
        </div>
        <p>&copy; 2024 {{ translations['footer_text'] }}</p>
    </footer>

    <script>
        function goBack() {
            window.history.back();
        }

        function toggleHistory(customerId) {
            const historyDiv = document.getElementById(customerId);
            if (historyDiv.classList.contains('active')) {
                historyDiv.classList.remove('active');
            } else {
                historyDiv.classList.add('active');
            }
        }
    </script>
</body>
</html>
