<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['appointments_for'] }} {{ selected_date }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>{{ translations['appointments_for'] }} {{ selected_date }}</h1>
    </header>

    <main>
        {% if appointments %}
        <ul>
            {% for appointment in appointments %}
            <li>
                <strong>{{ translations['customer'] }}:</strong> {{ appointment['customer_name'] }}<br>
                <strong>{{ translations['service'] }}:</strong> {{ appointment['service_name'] }}<br>
                <strong>{{ translations['time'] }}:</strong> {{ appointment['appointment_time'] }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>{{ translations['no_appointments_for_date'] }}</p>
        {% endif %}
    </main>

    <footer>
         <div class="language-switcher">
            <a href="{{ url_for('change_language', lang_code='en') }}">English</a> |
            <a href="{{ url_for('change_language', lang_code='he') }}">עברית</a>
        </div>
        <a href="/dashboard" class="btn">{{ translations['back_to_dashboard'] }}</a>
    </footer>
</body>
</html>
