<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['salon_title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>{{ translations['salon_center'] }}</h1>
    </header>

    <div class="center-container">
        <a href="/register" class="logout-btn">{{ translations['register'] }}</a>&nbsp;&nbsp;&nbsp;
        <a href="/login" class="logout-btn">{{ translations['login'] }}</a>
    </div>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h2>{{ translations['welcome'] }}</h2>
                <h2>{{ translations['tagline'] }}</h2>
                <h1>{{ translations['description'] }}</h1>
                <br>
                <a href="/register" class="btn-primary">{{ translations['get_started'] }}</a>
                <br>
            </div>
        </section>

        <section class="services">
            <h2>{{ translations['our_services'] }}</h2>
            <div class="service-grid">
                <div class="service">
                    <img src="{{ url_for('static', filename='images/hair.png') }}" alt="{{ translations['hair_styling'] }}">
                    <h3>{{ translations['hair_styling'] }}</h3>
                    <p>{{ translations['hair_description'] }}</p>
                </div>
                <div class="service">
                    <img src="{{ url_for('static', filename='images/nails.png') }}" alt="{{ translations['nail_services'] }}">
                    <h3>{{ translations['nail_services'] }}</h3>
                    <p>{{ translations['nail_description'] }}</p>
                </div>
                <div class="service">
                    <img src="{{ url_for('static', filename='images/spa.png') }}" alt="{{ translations['spa_treatments'] }}">
                    <h3>{{ translations['spa_treatments'] }}</h3>
                    <p>{{ translations['spa_description'] }}</p>
                </div>
            </div>
        </section>
    </main>
    <br><br>
    <footer>
        <div class="language-switcher">
            <a href="{{ url_for('change_language', lang_code='en') }}">English</a> |
            <a href="{{ url_for('change_language', lang_code='he') }}">עברית</a>
        </div>
        <p>&copy; 2024 {{ translations['footer_text'] }} By JK</p>
    </footer>

    <!-- Bootstrap JS (Optional for extra features like modals or dropdowns) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
