<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['past_appointments'] }} - {{ translations['shop_owner'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <h1>{{ translations['past_appointments'] }}</h1>
    </header>

    <main>
        <a href="/dashboard" class="special-btn">{{ translations['back_to_dashboard'] }}</a>
        <br><br><br>

        {% if appointments %}
            <section>
                {% for appointment in appointments %}
                    <!-- Display each appointment -->
                    <div class="appointment">
                        <strong>{{ translations['customer'] }}:</strong> {{ appointment[2] }}<br>
                        <strong>{{ translations['service'] }}:</strong> {{ appointment[3] }}<br>
                        <strong>{{ translations['date'] }}:</strong> {{ appointment[0] }}<br>
                        <strong>{{ translations['status'] }}:</strong> {{ appointment[1] }}<br>
                        <strong>{{ translations['price'] }}:</strong> &#8362;{{ appointment[4] }}
                    </div>
                    <hr> <!-- Separator between appointments -->
                {% endfor %}
            </section>
        {% else %}
            <p>{{ translations['no_past_appointments_found'] }}</p>
        {% endif %}
    </main>
</body>

</html>
