<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['shops_list'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>{{ translations['available_shops'] }}</h1>
    </header>
    <main>
    <ul>
        {% for shop in shops %}
        <li>
            <h3>{{ shop[1] }}</h3> <!-- Shop name -->
            <p>{{ shop[2] }}</p> <!-- Shop address -->
            <p>{{ shop[3] }}</p> <!-- Shop phone -->

            <!-- Display the shop image if available -->
            {% if shop[4] %}
            <img src="{{ url_for('static', filename='uploads/' + shop[4]) }}" alt="Shop Image" style="width: 100px; height: 100px; object-fit: cover;">
            {% else %}
            <img src="{{ url_for('static', filename='uploads/default_profile.jpg') }}" alt="No Shop Image" style="width: 100px; height: 100px; object-fit: cover;">
            {% endif %}

            <a href="/book/{{ shop[0] }}" class="btn">{{ translations['book_appointment'] }} {{ shop[1] }}</a>
        </li>
        {% endfor %}
        </ul>
        <button type="button" onclick="goBack()">{{ translations['back'] }}</button>
    </main>
    <footer>
        <div class="language-switcher">
            <a href="{{ url_for('change_language', lang_code='en') }}">English</a> |
            <a href="{{ url_for('change_language', lang_code='he') }}">עברית</a>
        </div>
        <p>&copy; 2024 {{ translations['salon_booking_system'] }}</p>
    </footer>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
